@import "tailwindcss";
@theme inline {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey200: hsl(0, 0%, 85%);
}

body {
  font-family: var(--font-alata), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-josefinSans), sans-serif;
}

.linkHover {
  position: relative;
  display: inline-block;
}

.linkHover::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.linkHover:hover::after {
  width: 100%;
}
.hero-section {
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/mobile/image-hero.jpg");

  /* Default (mobile) background */
}

@media (min-width: 768px) {
  .hero-section {
    background-image: url("/desktop/image-hero.jpg");
  }
}
